# Node modules
node_modules/

# середовище
.env
.env.local
.env.*.local

# лог-файли
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS специфіка
.DS_Store
Thumbs.db

# редактори / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# production artifacts
dist/
build/

# Logs
logs
*.log